In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('./GenPics/labels.csv',names=['file_num', 'chars'], index_col='file_num')

In [8]:
data.head()

         chars
file_num
0         NZPP
1         WKHK
2         WPSJ
3         QGNK
4         BAIR

In [11]:
# 解析csv文件，将标签值NZPP->[13, 25, 15, 15]
labels = []
for label in data['chars']:
    letters = []
    for letter in label:
        # 将字母转换成ASC2码
        letters.append(ord(letter) - ord('A'))
    labels.append(letters)

In [13]:
data['labels'] = labels

In [14]:
data

         chars            labels
file_num
0         NZPP  [13, 25, 15, 15]
1         WKHK   [22, 10, 7, 10]
2         WPSJ   [22, 15, 18, 9]
3         QGNK   [16, 6, 13, 10]
4         BAIR     [1, 0, 8, 17]
...        ...               ...
5995      YKNO  [24, 10, 13, 14]
5996      GNYX   [6, 13, 24, 23]
5997      FVQJ    [5, 21, 16, 9]
5998      BQYA    [1, 16, 24, 0]
5999      BCHR     [1, 2, 7, 17]

[6000 rows x 2 columns]